<div class="profile page top-pad" ng-model="agencies">
    <div class="back-button">
        <a class="button white" href="./#!/listings">Back to Listings</a>
    </div>
    <div class="profile-holder">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="agency-logo">
                    <img ng-src="{{agencies[whichItem].logo}}" />
                </div>
                <div class="info-holder">
                    <p>
                        <h1 class="agency-name">{{agencies[whichItem].name}}</h1>
                        <h2 class="agency-category"><span>{{agencies[whichItem].category.join(', ')}}</span></h2>
                        <p>
                            <span ng-repeat="location in agencies[whichItem].locations">{{location.office}}{{$last ? '' : ', '}}</span>
                        </p>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="contact-holder">
                    <h2 class="contact-heading">Contact</h2>
                    <p class="agency-website">
                        <a href="www.github.com">www.example.com</a>
                    </p>
                    <p class="agency-phone">
                        <a href="tel:8888888888">(888) 888-8888</a>
                    </p>
                    <p class="agency-email">
                        <a href="mailto:">hello@creativeplace.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
