<div class="profile page top-pad">
    <div class="back-button">
        <a class="button black" href="search.html">Back to Listings</a>
    </div>
    <div class="profile-holder">
        <div class="agency-logo">
            <img src="img/placeholder.jpg" />
        </div>
        <div class="info-holder">
            <p>
                <h1 class="agency-name">Agency A</h1>
                <h2 class="agency-category">Creative</h2>
                <p>
                    <span class="agency-locations">New York, Los Angelas</span>
                </p>
            </p>
        </div>
        <div class="contact-holder">
            <h2 class="contact-heading">Contact</h2>
            <p class="agency-website">
                <a href="www.github.com">www.example.com</a>
            </p>
            <p class="agency-phone">
                <a href="tel:8888888888">(888) 888-8888</a>
            </p>
            <p class="agency-email">
                <a href="mailto:">hello@creativeplace.com</a>
            </p>
        </div>
    </div>
</div>
