<div class="search page top-pad">
    <div class="search-cards-holder">
        <div class="row">
            <div class="search-card" ng-repeat="agency in agencies">
                <div class="agency-logo">
                    <img ng-src="{{agency.logo}}" />
                </div>
                <h4 class="agency-name">{{agency.name}}</h4>
                <p class="agency-category">
                    <span>{{agency.category.join(', ')}}</span>
                </p>
                <p class="agency-locations">
                    <span ng-repeat="location in agency.locations">{{location.office}}{{$last ? '' : ', '}}</span>
                </p>
                <div class="profile-link">
                    <a class="button black centered" href="./#!/agency/{{agencies.indexOf(agency)}}">More</a>
                </div>
            </div>
        </div>
    </div>
</div>
